/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

//fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

//vars
$pink: #ee2a74;
$light-pink: #fdeaf1;
$black: #1a1a1a;
$grey: #a2a0a3;
$grey-lines: #e6e4e7;
$grey-fills: #f2f1f3;
$white: #fff;

.main-wrapper {
  display: flex;
}
.aside {
  flex: 0 0 280px;
  background: $white;
}
.catalog {
  padding: 22.5px 0px 188px 0px;
  position: fixed;
  z-index: 55;
  height: 100%;
  width: 280px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  background: $white;
}
.catalog__logo {
  margin: 0 0 33.5px 20px;
}
.catalog__logo-text {
  fill: #000;
}
.logo {
  display: inline-flex;
  align-items: center;
  .logo-img {
    margin: 0 7px 0 0;
  }
  &:hover {
    .logo-text {
      fill: #74639b;
      transition: all 444ms ease;
    }
  }
}
.logo-mobile {
  display: none;
}
.catalog__menu {
  margin: 0 0 16px 0;
  padding: 0 0 8px 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 248px;
    height: 1px;
    left: 16px;
    bottom: 0;
    background: $grey-lines;
  }
}
.catalog__menu-list {
  li {
    width: 100%;
    height: 40px;
    &:hover {
      background: $light-pink;
      transition: all 0.3s ease 0s;
      .subnav-menu {
        display: block;
      }
    }
  }
}
.catalog__menu-link {
  padding: 8px 50px;
  position: relative;
  display: inline-block;
  color: $black;
  line-height: 24px;
  width: 100%;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 28px;
    height: 28px;
  }
}
.catalog__menu-link1 {
  &:before {
    background: url("../img/catalog/1.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link2 {
  &:before {
    background: url("../img/catalog/2.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link3 {
  &:before {
    background: url("../img/catalog/kitchen.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link4 {
  &:before {
    background: url("../img/catalog/3.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link5 {
  &:before {
    background: url("../img/catalog/4.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link6 {
  &:before {
    background: url("../img/catalog/hall.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link7 {
  &:before {
    background: url("../img/catalog/6.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link8 {
  &:before {
    background: url("../img/catalog/8.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link9 {
  &:before {
    background: url("../img/catalog/9.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.catalog__menu-link10 {
  &:before {
    background: url("../img/catalog/10.svg") no-repeat;
  }
}
.catalog__menu-link11 {
  &:before {
    background: url("../img/catalog/11.svg") no-repeat;
  }
}

.subnav-menu {
  display: none;
  padding: 40px 0px;
  width: 280px;
  height: 100%;
  background: $white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 280px;
  //position: absolute;
  // top: -84px;
  // left: 100%;
  overflow: auto;
}
.subnav-menu__title-mobile {
  display: none;
  padding: 0 16px 0 79px;
  margin: 0 0 14px 0; 
  position: relative;
  color: $black;
  line-height: 171%;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    left: 21px;
    top: 5px;
    transform: rotate(180deg);
  }
}
.subnav-menu__title {
  margin: 0 0 24px 0;
  padding: 0 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
}
.subnav-menu__li {
  margin: 0 0 20px 0;
  &:last-child {
    margin: 0;
  }
}
.subnav-menu__link {
  padding: 8px 16px;
  display: inline-block;
  height: 100%;
  width: 100%;
  color: $black;
  line-height: 171%;
}
.catalog__condition {
  padding: 8px 50px;
  position: relative;
  display: inline-block;
  color: $black;
  line-height: 24px;
  width: 100%;
  height: 40px;
  &:hover {
    background: $light-pink;
    transition: all 0.3s ease 0s;
  }
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 28px;
    height: 28px;
    background: url("../img/catalog/12.svg") no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    background: url("../img/catalog/arr.svg") no-repeat;
    width: 8px;
    height: 12px;
    right: 30.1px;
    top: 15.95px;
  }
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}
.header {
}
.header__burger {
  display: none;
}
.container {
  padding: 0 40px;
  /*margin: 0 auto;
   max-width: 920px;*/
}
.header-info {
  height: 72px;
  background: $grey-fills;
  position: fixed;
  z-index: 50;
  width: calc(100% - 280px);
}
.header-info__row {
  padding: 12px 0;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info__left {
  display: flex;
  align-items: center;
}
.header-info__left-geo {
  margin: 0 35.74px 0 0;
  position: relative;
  width: 130px;
}
.header-info__left-geo:after {
  content: "";
  display: block;
  background: url("../img/header/arr.svg") center no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 12px;
  height: 7.6px;
  pointer-events: none;
}
.header-info__left-geo select {
  display: block;
  width: 100%;
  background: none;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 24px;
}
.header-info__left-geo select:focus {
  outline: 0;
}
.header-info__left-shops {
  display: flex;
  align-items: center;
  color: $black;
  line-height: 24px;
  &:hover {
    color: $pink;
    transition: all 0.3s ease 0s;
    svg {
      fill: $pink;
      transition: all 0.3s ease 0s;
    }
  }
  svg {
    margin: 0 9px 0 0;
    fill: $black;
  }
}
.header-info__right {
  display: flex;
  align-items: center;
}
.header-info__right-number {
  margin: 0 24px 0 0;
  color: $black;
  line-height: 24px;
  &:hover {
    color: $pink;
    transition: all 0.3s ease 0s;
  }
  img {
    display: none;
  }
}
.header-info__right-btn {
  color: $black;
  line-height: 24px;
}
.btn {
  padding: 12px 16px;
  border: 1px solid $black;
  border-radius: 8px;
  &:hover {
    background: $pink;
    border: 1px solid $pink;
    color: $white;
    transition: all 0.3s ease 0s;
  }
}
.header-actions {
  padding: 88px 0 0 0;
}
.header-actions__row {
  display: flex;
  align-items: center;
}
.header-actions__form {
  margin: 0 24px 0 0;
  display: flex;
}
.form-search {
  flex-grow: 1;
}
.form-search__input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  line-height: 24px;
  border: 1px solid $grey-lines;
  border-radius: 8px 0px 0px 8px;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  &::placeholder {
    font-size: 14px;
    color: $grey;
  }
  &:hover {
    border: 1px solid $pink;
    transition: all 0.3s ease 0s;
  }
  &:focus {
    border: 1px solid $pink;
    transition: all 0.3s ease 0s;
  }
}
.form-search__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 8px 8px 0px;
  background: $pink;
}
.header-actions__account {
  margin: 0 61px 0 0;
  padding: 0 0 0 25px;
  background: url("../img/header/profile.svg") left no-repeat;
  line-height: 24px;
  color: inherit;
}
.header-actions__cart {
  display: flex;
  align-items: center;
}
.header-actions__cart-image {
  margin: 0 8px 0 0;
  color: inherit;
  display: flex;
  position: relative;
  span {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 9px;
    line-height: 10px;
    color: $white;
    background: $pink;
    border-radius: 100%;
    border: 1px solid $white;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
.header-actions__cart-sum {
  color: inherit;
  font-weight: bold;
  line-height: 24px;
}
.actions__account-mobile,
.actions__cart-mobile {
  display: none;
}

/* Best */

.best {
  padding: 55px 0 80px 0;
}
.best__title {
  padding: 0 0 0 32px;
  background: url("../img/best/5.svg") left center no-repeat;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
}
.best__slider {
}
.swiper {
}
.slider-buttons {
  margin: 0 0 12px 0;
  display: flex;
  justify-content: flex-end;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  margin: 0 0 0 16px;
  position: static;
  background: #fff center center no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid $black;
}
.swiper-button-prev {
  background-image: url("../img/best/arr.svg");
  transform: rotate(180deg);
}
.swiper-button-next {
  background-image: url("../img/best/arr.svg");
}
.swiper-wrapper {
}
.swiper-slide.slider-slide {
  padding: 0 8px 8px 8px;
  width: 224px;
  height: auto;
  background: #ffffff;
  border: 1px solid #e6e4e7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  &:hover {
    border: 1px solid $pink;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    transition: all 0.9s ease 0s;
    /*.slide__info {
      display: block;
      transition: all 0.3s ease 0s;
    }*/
  }
}
.slider-slide__img {
  margin: 0 -8px 8px -8px;
  width: calc(100% + 16px);
  height: 168px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.slider-slide__title {
  margin: 0 0 24px 0;
  line-height: 171%;
  flex: 1 1 auto;
  color: $black;
  &:hover {
    color: $pink;
    transition: all 0.3s ease 0s;
  }
}
.slider-slide__actions {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-slide__price-old {
  text-decoration-line: line-through;
  color: $grey;
  font-size: 12px;
  line-height: 133%;
}
.slider-slide__price-current {
  font-weight: bold;
  font-size: 22px;
  line-height: 109%;
}
.btn-pink {
  padding: 12px 16px;
  border: 1px solid $pink;
  border-radius: 8px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 133%;
  font-weight: bold;
  color: $pink;
  &:hover {
    background: $pink;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
}
.slider-slide__available {
  padding: 0 0 0 20px;
  background: url("../img/best/car.svg") left center no-repeat;
  font-size: 12px;
  line-height: 133%;
}
.slider-slide__info {
  padding: 16px 0 0 0;
}
.slide__info {
  display: none;
}
.slide__info-group {
  margin: 0 0 8px 0;
  font-size: 12px;
  line-height: 133%;
  &:last-child {
    margin: 0;
  }
}
.slide__info-title {
  margin: 0 0 2px 0;
  color: $grey;
}
.slide__info-text {
}

/* Footer */

.footer {
  padding: 20px 0 16px 0;
  border-top: 1px solid $grey-fills;
}
.footer__row {
}
.footer__shops {
  margin: 0 0 32px 0;
  display: inline-flex;
}
.footer__navigation {
  margin: 0 0 32px 0;
  display: flex;
}
.footer__navigation-item {
  flex: 0 0 25%;
}
.navigation-item {
}
.navigation-item__title {
  margin: 0 0 8px 0;
  line-height: 171%;
}
.navigation-item__title {
  margin: 0 0 18px 0;
}
.navigation-item__menu {
}
.navigation-item__menu-list {
  li {
    margin: 0 0 8px 0;
  }
  li:last-child {
    margin: 0;
  }
}
.navigation-item__menu-link {
  line-height: 171%;
  color: $grey;
}
.footer__navigation-widgets {
  display: flex;
  flex-direction: column;
}
.footer__navigation-widget {
  margin: 0 0 18px 0;
  display: flex;
  &:last-child {
    margin: 0;
  }
  img {
    margin: 0 12.59px 0 0;
  }
  img:last-child {
    margin: 0;
  }
}
.footer__actions {
  margin: 0 0 39px 0;
  display: flex;
}
.action-social {
  margin: 0 80px 0 0;
}
.footer__action-title {
  margin: 0 0 12px 0;
  line-height: 171%;
}
.action-social__row {
}
.action-social__icon {
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  &:last-child {
    margin: 0;
  }
}
.footer__action-payment {
}
.action-payment {
}
.action-payment__title {
}
.action-payment__row {
}
.action-payment__item {
  margin: 0 16px 0 0;
}
.footer__info {
  display: flex;
}
.footer__info-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer__info-politic {
  margin: 0 0 16px 0;
  font-size: 12px;
  line-height: 133%;
  color: inherit;
}
.footer__info-copyright {
  font-size: 12px;
  line-height: 133%;
  color: inherit;
}
.footer__info-right {
  display: flex;
  align-items: flex-end;
}
.footer__info-design {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 133%;
  color: inherit;
  img {
    margin: 0 4px 0 0;
  }
}

/* Media */

@media (max-width: 1100px) {
  .aside {
    flex: 0;
  }
  .header__burger {
    margin: 0 20px 0 0;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger::before,
  .header__burger::after {
    transition: all 0.3s ease 0s;
    content: "";
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    transition: all 0.3s ease 0s;
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #000;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  body.lock {
    overflow: hidden;
  }
  .catalog {
    top: 72px;
    left: -100%;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .catalog-active {
    left: 0;
  }
  .catalog__logo {
    display: none;
  }
  .catalog__menu-list {
    li {
      margin: 0 0 4px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .header-info {
    width: 100%;
  }
  .container {
    padding: 0 20px;
  }
  .header-info__right-number {
    span {
      display: none;
    }
    img {
      display: block;
    }
  }
  .header-info__right-btn,
  .header-actions__account,
  .header-actions__cart,
  .header-info__left-geo,
  .header-info__left-shops {
    display: none;
  }
  .logo-mobile,
  .actions__account-mobile,
  .actions__cart-mobile,
  .footer__shops {
    display: flex;
  }
  .logo-mobile {
    flex-grow: 1;
  }
  .header-info__right-number,
  .actions__account-mobile {
    margin: 0 20px 0 0;
  }
  .actions__cart-mobile,
  .header-actions__cart-image,
  .header-actions__form {
    margin: 0;
  }
  .header-info__row {
    justify-content: normal;
  }
  .footer__navigation {
    flex-direction: column;
  }
  .footer__navigation-item {
    margin: 0 0 16px 0;
    &:last-child {
      margin: 0;
    }
  }
  .navigation-item__title {
    margin: 0 0 9px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid $grey-lines;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 12px;
      height: 8px;
      background: url("../img/footer/arr.svg") center center no-repeat;
    }
  }
  .navigation-item__title.active {
    &::after {
      transform: rotate(180deg);
    }
  }
  .navigation-item__body {
    display: none;
  }
  .navigation-item__menu-link {
    color: $black;
  }
  .footer__actions {
    margin: 0 0 32px 0;
    flex-direction: column;
  }
  .action-payment {
    margin: 0 0 32px 0;
  }
  .action-social {
    margin: 0;
    order: 2;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__info-left {
    margin: 0 0 32px 0;
  }
}
@media (max-width: 800px) {
  .catalog__menu-list {
    li:hover {
      .subnav-menu {
        display: none;
      }
    }
  }
  .subnav-menu__title-mobile {
    display: block;
  }
  .subnav-menu__title {
    display: none;
  }
  .action-payment__item {
    margin: 0 8px 0 0;
    &:last-child {
      margin: 0;
    }
  }
  .best {
    padding: 40px 0;
  }
  .best__title {
    margin: 0 0 16px 0;
  }
  .title {
    font-size: 20px;
  }
  .slider-buttons {
    display: none;
  }
}
@media (max-width: 400px) {
  .header-info__row {
    justify-content: space-between;
  }
  .logo-mobile {
    display: none;
  }
  .title {
    font-size: 16px;
  }
}
